@{
    ViewBag.Title = "Home Page";
}
<!--Wyatt Gray - Section 1 - Assignment 4
    This prgram uses C# to list the top 5 restaurants in Provo. It allows
    users to submit and view suggestions as well.-->
<div class="text-center">
    <h3> This site show the top 5 bands in Provo and allows you to make your own list.</h3>
</div>
<br />
<a class="btn btn-dark" asp-action="RestList">View List</a>